<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<meta charset="utf-8">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/sticky-footer-navbar.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
			// Add your javascript here
$(function() {
  $("h1").animate({
    "margin-left": "100px"
  }, "slow");

  $(".nav li").on("click", function() {
    $(".nav li").removeClass("active");
    $(this).addClass("active");
  });
  
});
			</script>
			
		</head>
		<body>
			<!--<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>-->
			<nav class="navbar navbar-default navbar-fixed-top" role = "navigation">
				
        <div class="container-fluid">
	 
    <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbarCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
      <a class="navbar-brand" href="/">Mahmoud Kraiem</a>
    </div>
		<div class="collapse navbar-collapse navbarCollapse">
               <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
	<li><a href="/about">About me</a></li>
	     <li><a href="/cv">CV</a></li>
	    <li><a href="/blog">Blog</a></li>
    </ul>
            </div>
    
  </div>
</nav>
			
			<div class="jumbotron  vertical-center">
				<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
				</div>
			
			<footer class="footer">
				 <div class="container text-muted">
     
	    		<ul>
	        		<li><a href="mailto:mahmoud.kraiem@gmail.com">Email</a></li>
            <li><a href="https://in.linkedin.com/in/mahmoudkraiem">Linkedin</a></li>
        		<li><a href="https://github.com/breebchi">Github</a></li>
				<li><a href="https://breebchi.github.io/blog/atom.xml">RSS feed</a></li>
				</ul>
					  </div>
			</footer>
		</body>
	</html>
